## Visualisation des résultats

In [1]:
# importation of modules
import cpnet
import numpy as np
import math
import pandas as pd
import networkx as nx
from community import community_louvain
import matplotlib.pyplot as plt
from networkx.algorithms import community
import pyvis
from pyvis import network as net
from graph_tool.all import *
import polars as pl
import json

### Load Graph

In [8]:
# Load data
fil_name = 'data'
dataset = pd.read_fwf(fil_name, sep="\t")

In [9]:
dataset

        % asym  unweighted
0         1\t2         NaN
1         1\t3         NaN
2         1\t4         NaN
3         1\t5         NaN
4         1\t6         NaN
...        ...         ...
33425  975\t66         NaN
33426  975\t67         NaN
33427  975\t10         4.0
33428  975\t12         4.0
33429  1028\t7         1.0

[33430 rows x 2 columns]